@media screen and (min-width: 768px) {
    .col2-set {
        .form-row-first {
            float: left;
            margin-right: $columns__margin;
        }

        .form-row-last {
            float: right;
            margin-right: 0;
        }

        .form-row-first,
        .form-row-last {
            @include column-width(2);
        }
    }
}
