.news {
    padding: 100px 0px;

    &--card {
        width: 31%;
        height: auto;
        img {
            padding: 8px;
        }
    }
    a {
        padding-left: 8px;
        color: $background-gold;
        text-decoration: underline;
        &:hover {
            color: $hover-button02;
        }
    }
    p {
        text-align: center;
        font-size: 18px;
        padding: 20px 0px 10px 0px;
        letter-spacing: 1;
    }
}
@media #{$medium-down} {
    .news {
        padding: 30px 0px;
        .flex-grid {
            display: block;
        }
        &--card {
            width: 100%;
            margin: 30px 0px;
        }
    }
}
