.title {
    padding-top: 30px;
    .newspaper-h2 {
        font-size: $h2;
        font-weight: normal;
        font-style: italic;
        letter-spacing: 0.02em;
        line-height: 1.9;
        color: $black;
    }
}
