@charset "UTF-8";
/*!
Theme Name: _ThemeVertlette
Theme URI: http://underscores.me/
Author: Gt Thibault
Author URI: http://vertlette.dev.local
Description: Création de site de produit en ligne
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
*/
/* Variable
--------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Roboto);
/* Normalize
--------------------------------------------- */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto);
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
	display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
	display: none;
}

/* Box sizing
--------------------------------------------- */
/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

/* Layout
--------------------------------------------- */
.bloc-page {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.flex-grid {
	display: flex;
	justify-content: space-between;
}

.width50 {
	width: 50%;
}

/* Base
--------------------------------------------- */
.is-hover-link-top__information:hover, .informationTop-content--locate-store:hover, .informationTop-content .nav li a:hover {
	color: #ffffff;
}

.is-active-link-top__information:focus, .informationTop-content--locate-store:focus, .informationTop-content .nav li a:focus {
	color: #ffffff;
}

.is-hover-link-footer:hover, .copyright-content a:hover, .description-content .description-content--text a:hover,
.description-content .description-content--social a:hover {
	color: #9d9faa;
}

.is-active-link-footer:focus, .copyright-content a:focus, .description-content .description-content--text a:focus,
.description-content .description-content--social a:focus {
	color: #4d5597;
}

.is-hover-social-icon:hover, .copyright-content span a:hover, .description-content .description-content--text span a:hover,
.description-content .description-content--social span a:hover {
	color: #836924;
}

.is-active-social-icon:focus, .copyright-content span a:focus, .description-content .description-content--text span a:focus,
.description-content .description-content--social span a:focus {
	color: #836924 !important;
}

.is-hover-link-main__navigation:hover, .sidebar-content .main-navigation li a:hover {
	color: #61626b;
}

.is-active-link-main__Navigation:focus, .sidebar-content .main-navigation li a:focus {
	color: #ab892f;
}

.background-information-top,
.background-newsletter {
	background-color: #ab892f;
}

.background-description {
	background-color: #262626;
}

.background-copyright {
	background-color: #fff;
}

.background-space__creation {
	background-color: #262626;
	margin-top: 200px;
}

html {
	height: 100%;
}

body {
	font-family: "Roboto", serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
	margin-block-start: 0;
	margin-block-end: 0;
}

ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.fa-map-marker-alt,
.fa-heart,
.fa-user,
.fa-shopping-cart {
	padding-right: 20px;
}

.button-contact {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button, .space__creation-content--style-bottom, .newsletter-content .mailing--style-bottom {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button-back, .prestige-content .back-button, .entry-content .back-button,
.entry-header .back-button,
.entry-footer .back-button {
	color: #fff;
	text-align: center;
	padding: 6px 30px;
	width: 226.39px;
	font-style: italic;
	background-color: #000;
}

.button-back:hover, .prestige-content .back-button:hover, .entry-content .back-button:hover,
.entry-header .back-button:hover,
.entry-footer .back-button:hover {
	background: #333333;
}

.post-navigation {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 0px;
	text-align: center;
}

label {
	color: black;
	font-weight: bold;
}

.input-contact {
	width: 100%;
	padding: 12px;
	border: 1px solid #cecece;
	resize: vertical;
}

.textareacontact {
	padding: 12px;
	border: 1px solid #cecece;
	resize: vertical;
	width: 100%;
}

abbr {
	color: #fd0909;
}

.nav1,
.hidden-fa-bars {
	display: none;
}

@media only screen and (max-width: 947px) {
	.hidden-fa-bars {
		display: block;
	}
	.fa-search {
		margin-right: 20px;
	}
}

/* State
--------------------------------------------- */
.is-hover-link-top__information:hover, .informationTop-content--locate-store:hover, .informationTop-content .nav li a:hover {
	color: #ffffff;
}

.is-active-link-top__information:focus, .informationTop-content--locate-store:focus, .informationTop-content .nav li a:focus {
	color: #ffffff;
}

.is-hover-link-footer:hover, .copyright-content a:hover, .description-content .description-content--text a:hover,
.description-content .description-content--social a:hover {
	color: #9d9faa;
}

.is-active-link-footer:focus, .copyright-content a:focus, .description-content .description-content--text a:focus,
.description-content .description-content--social a:focus {
	color: #4d5597;
}

.is-hover-social-icon:hover, .copyright-content span a:hover, .description-content .description-content--text span a:hover,
.description-content .description-content--social span a:hover {
	color: #836924;
}

.is-active-social-icon:focus, .copyright-content span a:focus, .description-content .description-content--text span a:focus,
.description-content .description-content--social span a:focus {
	color: #836924 !important;
}

.is-hover-link-main__navigation:hover, .sidebar-content .main-navigation li a:hover {
	color: #61626b;
}

.is-active-link-main__Navigation:focus, .sidebar-content .main-navigation li a:focus {
	color: #ab892f;
}

/* Module
--------------------------------------------- */
/* Header
--------------------------------------------- */
.site-header {
	box-shadow: 5px -1px 25px 3px #8d8c88;
}

.sidebar-content {
	height: 140px;
	font-weight: bold;
	align-items: center;
	/***************************
    ** Premier niveau menu
    ***************************/
}

.sidebar-content--logo {
	width: 190px;
	height: auto;
	align-self: center;
}

.sidebar-content span {
	align-self: center;
}

.sidebar-content span .fa-search {
	font-size: 18px;
	cursor: pointer;
	transform: rotate(90deg);
}

.sidebar-content .main-navigation {
	align-self: center;
	letter-spacing: 0.02em;
	display: flex;
	position: relative;
	/***************************
        ** Deuxieme niveau sub-menu
        ***************************/
}

.sidebar-content .main-navigation li {
	padding-right: 35px;
}

.sidebar-content .main-navigation li a {
	font-size: 18px;
	color: #000;
	cursor: pointer;
}

.sidebar-content .main-navigation .menu-item:nth-child(3) > a::after {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f107";
	display: inline-block;
	margin-left: 0.4em;
	vertical-align: middle;
	color: #000;
	text-align: center;
}

.sidebar-content .main-navigation .menu-item:nth-child(3) ul {
	display: none;
	position: absolute;
	width: 100%;
	padding-top: 6px;
}

.sidebar-content .main-navigation .menu-item:nth-child(3):hover > ul {
	display: block;
}

.sidebar-content .main-navigation .menu-item:nth-child(3):hover > ul > li {
	list-style: none;
}

.sidebar-content .main-navigation .menu-item:nth-child(3) > ul > li > a {
	font-size: 14px;
	border-top: 1px solid #000;
	padding-top: 2px;
}

.sidebar-content .main-navigation .menu-item:nth-child(3) > ul > li > a:hover {
	background: #fff;
	color: #31353d;
}

@media only screen and (max-width: 947px) {
	.sidebar-content .sidebar-content {
		height: 100px;
	}
	.sidebar-content .sidebar-content--logo {
		width: 150px;
	}
	.sidebar-content .main-navigation {
		align-self: center;
		letter-spacing: 0.02em;
		display: flex;
		position: relative;
		/***************************
***            ** Deuxieme niveau sub-menu
            ***************************/
	}
	.sidebar-content .main-navigation li {
		padding-right: 0px;
	}
	.sidebar-content .main-navigation li a {
		color: #fff;
	}
	.sidebar-content .main-navigation .menu-item:nth-child(3):hover > ul {
		display: none;
	}
	.sidebar-content .main-navigation .menu-item:nth-child(3) > a::after {
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		content: "\f107";
		display: inline-block;
		font-size: 15px;
		margin-left: 0.4em;
		vertical-align: middle;
		color: #fff;
		text-align: center;
	}
	.sidebar-content .nav1 {
		display: block;
		font-weight: bold;
		align-self: center;
		display: flex;
	}
	.sidebar-content .nav1 li {
		padding-right: 15px;
	}
	.sidebar-content .nav1 li a {
		color: #000;
		cursor: pointer;
	}
	.sidebar-content .nav1 li:nth-child(4) {
		padding-right: 20px;
	}
}

.informationTop-content {
	height: 61.45px;
}

.informationTop-content--locate-store {
	align-self: center;
	font-weight: bold;
	cursor: pointer;
	color: #000;
	letter-spacing: 0.02em;
}

.informationTop-content--locate-store:hover {
	font-weight: normal;
}

.informationTop-content--locate-store:focus {
	font-weight: normal;
}

.informationTop-content--text {
	color: #fff;
	align-self: center;
	font-weight: 400;
	letter-spacing: 0.02em;
}

.informationTop-content .nav {
	font-weight: bold;
	align-self: center;
	display: flex;
}

.informationTop-content .nav li a {
	color: #000;
	cursor: pointer;
}

.informationTop-content .nav li:first-child {
	padding-right: 15px;
}

.informationTop-content .nav li:nth-child(2) {
	padding-right: 15px;
}

.informationTop-content .nav li:nth-child(3) {
	padding-right: 15px;
}

@media only screen and (max-width: 947px) {
	.informationTop-content {
		justify-content: center;
		height: 38px;
	}
	.informationTop-content .nav,
	.informationTop-content .informationTop-content--locate-store {
		display: none;
	}
	.informationTop-content--text {
		text-align: center;
	}
}

.background-banner {
	background-color: #9f9e93;
	height: 64px;
	display: flex;
	box-shadow: inset 3px 3px 8px 3px #8d8c88;
}

.background-banner .banner-content {
	justify-content: center;
	align-self: center;
}

.background-banner .banner-content p {
	font-weight: 400;
	letter-spacing: 0.02em;
	font-size: 20px;
	text-align: center;
	color: #fff;
}

/* Home page
--------------------------------------------- */
.image__shadow {
	box-shadow: 0px 3px 25px 3px #8d8c88;
}

.is-hover-link-top__information:hover, .informationTop-content--locate-store:hover, .informationTop-content .nav li a:hover {
	color: #ffffff;
}

.is-active-link-top__information:focus, .informationTop-content--locate-store:focus, .informationTop-content .nav li a:focus {
	color: #ffffff;
}

.is-hover-link-footer:hover, .copyright-content a:hover, .description-content .description-content--text a:hover,
.description-content .description-content--social a:hover {
	color: #9d9faa;
}

.is-active-link-footer:focus, .copyright-content a:focus, .description-content .description-content--text a:focus,
.description-content .description-content--social a:focus {
	color: #4d5597;
}

.is-hover-social-icon:hover, .copyright-content span a:hover, .description-content .description-content--text span a:hover,
.description-content .description-content--social span a:hover {
	color: #836924;
}

.is-active-social-icon:focus, .copyright-content span a:focus, .description-content .description-content--text span a:focus,
.description-content .description-content--social span a:focus {
	color: #836924 !important;
}

.is-hover-link-main__navigation:hover, .sidebar-content .main-navigation li a:hover {
	color: #61626b;
}

.is-active-link-main__Navigation:focus, .sidebar-content .main-navigation li a:focus {
	color: #ab892f;
}

.background-information-top,
.background-newsletter {
	background-color: #ab892f;
}

.background-description {
	background-color: #262626;
}

.background-copyright {
	background-color: #fff;
}

.background-space__creation {
	background-color: #262626;
	margin-top: 200px;
}

html {
	height: 100%;
}

body {
	font-family: "Roboto", serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
	margin-block-start: 0;
	margin-block-end: 0;
}

ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.fa-map-marker-alt,
.fa-heart,
.fa-user,
.fa-shopping-cart {
	padding-right: 20px;
}

.button-contact {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button, .space__creation-content--style-bottom, .newsletter-content .mailing--style-bottom {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button-back, .prestige-content .back-button, .entry-content .back-button,
.entry-header .back-button,
.entry-footer .back-button {
	color: #fff;
	text-align: center;
	padding: 6px 30px;
	width: 226.39px;
	font-style: italic;
	background-color: #000;
}

.button-back:hover, .prestige-content .back-button:hover, .entry-content .back-button:hover,
.entry-header .back-button:hover,
.entry-footer .back-button:hover {
	background: #333333;
}

.post-navigation {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 0px;
	text-align: center;
}

label {
	color: black;
	font-weight: bold;
}

.input-contact {
	width: 100%;
	padding: 12px;
	border: 1px solid #cecece;
	resize: vertical;
}

.textareacontact {
	padding: 12px;
	border: 1px solid #cecece;
	resize: vertical;
	width: 100%;
}

abbr {
	color: #fd0909;
}

.nav1,
.hidden-fa-bars {
	display: none;
}

@media only screen and (max-width: 947px) {
	.hidden-fa-bars {
		display: block;
	}
	.fa-search {
		margin-right: 20px;
	}
}

.inspiration-content {
	box-shadow: 0px 3px 15px 0px #8d8c88;
	background-color: #f9f9f9;
}

.inspiration-content--width50 {
	width: 50%;
	align-self: center;
}

.inspiration-content--flex__grid {
	display: flex;
	flex-direction: column;
}

.inspiration-content h4 {
	font-style: italic;
	font-size: 24px;
	color: #000;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	padding: 0px 0px 20px 0px;
}

.inspiration-content p {
	line-height: 1.5;
}

.inspiration-content--style-bottom {
	color: #fff;
	text-align: center;
	margin-top: 20px;
	padding: 13px 36px;
	width: 226.39px;
	font-style: italic;
	background-color: #ab892f;
}

.inspiration-content--style-bottom:hover {
	background: #836924;
}

.inspiration-content img {
	width: 100%;
	height: auto;
}

.inspiration-content .bloc-page {
	width: 70%;
}

@media only screen and (max-width: 947px) {
	.inspiration-content {
		display: block;
	}
	.inspiration-content--width50 {
		width: 100%;
	}
	.inspiration-content h4 {
		padding: 30px 0px 20px 0px;
	}
	.inspiration-content--style-bottom {
		padding: 13px 36px;
		margin-bottom: 25px;
	}
	.inspiration-content .bloc-page {
		width: 90%;
	}
}

@font-face {
	font-family: megariche;
	src: url(http://vertlette.dev.local/wp-content/themes/_themevertlette/fonts/MegaRiches.ttf);
	font-weight: normal;
}

.title {
	text-align: center;
}

.title--h1 {
	font-size: 150px;
	font-weight: normal;
	letter-spacing: 5px;
	color: #262626;
	font-family: "megariche", Arial, Helvetica, sans-serif;
}

.title--color__gold {
	color: #ab892f;
}

.title--auto__center {
	margin-left: auto;
	margin-right: auto;
	width: 35%;
}

.title--quote {
	text-transform: uppercase;
}

.title--border__line {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 60px;
	border-bottom: 2px solid #000;
	padding-bottom: 10px;
}

.title--text {
	padding: 10px 0px 100px 0px;
	font-weight: bold;
}

@media only screen and (max-width: 947px) {
	.title .title--h1 {
		font-size: 100px;
	}
	.title .title--auto__center {
		width: 100%;
	}
}

.is-hover-link-top__information:hover, .informationTop-content--locate-store:hover, .informationTop-content .nav li a:hover {
	color: #ffffff;
}

.is-active-link-top__information:focus, .informationTop-content--locate-store:focus, .informationTop-content .nav li a:focus {
	color: #ffffff;
}

.is-hover-link-footer:hover, .copyright-content a:hover, .description-content .description-content--text a:hover,
.description-content .description-content--social a:hover {
	color: #9d9faa;
}

.is-active-link-footer:focus, .copyright-content a:focus, .description-content .description-content--text a:focus,
.description-content .description-content--social a:focus {
	color: #4d5597;
}

.is-hover-social-icon:hover, .copyright-content span a:hover, .description-content .description-content--text span a:hover,
.description-content .description-content--social span a:hover {
	color: #836924;
}

.is-active-social-icon:focus, .copyright-content span a:focus, .description-content .description-content--text span a:focus,
.description-content .description-content--social span a:focus {
	color: #836924 !important;
}

.is-hover-link-main__navigation:hover, .sidebar-content .main-navigation li a:hover {
	color: #61626b;
}

.is-active-link-main__Navigation:focus, .sidebar-content .main-navigation li a:focus {
	color: #ab892f;
}

.background-information-top,
.background-newsletter {
	background-color: #ab892f;
}

.background-description {
	background-color: #262626;
}

.background-copyright {
	background-color: #fff;
}

.background-space__creation {
	background-color: #262626;
	margin-top: 200px;
}

html {
	height: 100%;
}

body {
	font-family: "Roboto", serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
	margin-block-start: 0;
	margin-block-end: 0;
}

ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.fa-map-marker-alt,
.fa-heart,
.fa-user,
.fa-shopping-cart {
	padding-right: 20px;
}

.button-contact {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button, .space__creation-content--style-bottom, .newsletter-content .mailing--style-bottom {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button-back, .prestige-content .back-button, .entry-content .back-button,
.entry-header .back-button,
.entry-footer .back-button {
	color: #fff;
	text-align: center;
	padding: 6px 30px;
	width: 226.39px;
	font-style: italic;
	background-color: #000;
}

.button-back:hover, .prestige-content .back-button:hover, .entry-content .back-button:hover,
.entry-header .back-button:hover,
.entry-footer .back-button:hover {
	background: #333333;
}

.post-navigation {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 0px;
	text-align: center;
}

label {
	color: black;
	font-weight: bold;
}

.input-contact {
	width: 100%;
	padding: 12px;
	border: 1px solid #cecece;
	resize: vertical;
}

.textareacontact {
	padding: 12px;
	border: 1px solid #cecece;
	resize: vertical;
	width: 100%;
}

abbr {
	color: #fd0909;
}

.nav1,
.hidden-fa-bars {
	display: none;
}

@media only screen and (max-width: 947px) {
	.hidden-fa-bars {
		display: block;
	}
	.fa-search {
		margin-right: 20px;
	}
}

.prestige-content {
	box-shadow: 0px 3px 15px 0px #8d8c88;
	background-color: #f9f9f9;
}

.prestige-content--width50 {
	width: 50%;
	align-self: center;
}

.prestige-content--flex__grid {
	display: flex;
	flex-direction: column;
}

.prestige-content h4 {
	font-style: italic;
	font-size: 24px;
	color: #ab892f;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	padding: 0px 0px 20px 0px;
}

.prestige-content p {
	line-height: 1.5;
}

.prestige-content--style-bottom {
	color: #fff;
	text-align: center;
	margin-top: 20px;
	padding: 13px 70px;
	width: 226.39px;
	font-style: italic;
	background-color: #ab892f;
}

.prestige-content--style-bottom:hover {
	background: #836924;
}

.prestige-content img {
	width: 100%;
	height: auto;
}

.prestige-content .bloc-page {
	width: 70%;
}

@media only screen and (max-width: 947px) {
	.prestige-content {
		display: block;
	}
	.prestige-content--width50 {
		width: 100%;
	}
	.prestige-content h4 {
		padding: 30px 0px 20px 0px;
	}
	.prestige-content--style-bottom {
		padding: 13px 70px;
		margin-bottom: 25px;
	}
	.prestige-content .bloc-page {
		width: 90%;
	}
}

.products-content {
	padding-bottom: 200px;
}

.products-content--card {
	box-shadow: 0px 3px 15px 0px #8d8c88;
	width: 24%;
	border: 1px solid #9b9a9a;
	height: auto;
}

.products-content--card img {
	padding: 8px;
}

.products-content--text {
	text-align: center;
}

.products-content--text h4 {
	font-size: 18px;
	font-weight: bold;
	padding: 20px 0px 10px 0px;
	text-transform: uppercase;
	letter-spacing: 1;
}

.products-content--text p {
	padding-bottom: 40px;
}

@media only screen and (max-width: 947px) {
	.products-content .flex-grid {
		display: block;
	}
	.products-content--card {
		width: 100%;
		margin: 30px 0px;
	}
}

.selected-content h3 {
	text-align: center;
	font-style: italic;
	font-size: 30px;
	color: #000;
	font-weight: 400;
	letter-spacing: 0.02em;
	padding: 130px 0px 20px 0px;
}

.selected-content--border__line2 {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 60px;
	border-bottom: 1px solid #000;
	margin-bottom: 80px;
}

.is-hover-link-top__information:hover, .informationTop-content--locate-store:hover, .informationTop-content .nav li a:hover {
	color: #ffffff;
}

.is-active-link-top__information:focus, .informationTop-content--locate-store:focus, .informationTop-content .nav li a:focus {
	color: #ffffff;
}

.is-hover-link-footer:hover, .copyright-content a:hover, .description-content .description-content--text a:hover,
.description-content .description-content--social a:hover {
	color: #9d9faa;
}

.is-active-link-footer:focus, .copyright-content a:focus, .description-content .description-content--text a:focus,
.description-content .description-content--social a:focus {
	color: #4d5597;
}

.is-hover-social-icon:hover, .copyright-content span a:hover, .description-content .description-content--text span a:hover,
.description-content .description-content--social span a:hover {
	color: #836924;
}

.is-active-social-icon:focus, .copyright-content span a:focus, .description-content .description-content--text span a:focus,
.description-content .description-content--social span a:focus {
	color: #836924 !important;
}

.is-hover-link-main__navigation:hover, .sidebar-content .main-navigation li a:hover {
	color: #61626b;
}

.is-active-link-main__Navigation:focus, .sidebar-content .main-navigation li a:focus {
	color: #ab892f;
}

.background-information-top,
.background-newsletter {
	background-color: #ab892f;
}

.background-description {
	background-color: #262626;
}

.background-copyright {
	background-color: #fff;
}

.background-space__creation {
	background-color: #262626;
	margin-top: 200px;
}

html {
	height: 100%;
}

body {
	font-family: "Roboto", serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
	margin-block-start: 0;
	margin-block-end: 0;
}

ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.fa-map-marker-alt,
.fa-heart,
.fa-user,
.fa-shopping-cart {
	padding-right: 20px;
}

.button-contact {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button, .space__creation-content--style-bottom, .newsletter-content .mailing--style-bottom {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button-back, .prestige-content .back-button, .entry-content .back-button,
.entry-header .back-button,
.entry-footer .back-button {
	color: #fff;
	text-align: center;
	padding: 6px 30px;
	width: 226.39px;
	font-style: italic;
	background-color: #000;
}

.button-back:hover, .prestige-content .back-button:hover, .entry-content .back-button:hover,
.entry-header .back-button:hover,
.entry-footer .back-button:hover {
	background: #333333;
}

.post-navigation {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 0px;
	text-align: center;
}

label {
	color: black;
	font-weight: bold;
}

.input-contact {
	width: 100%;
	padding: 12px;
	border: 1px solid #cecece;
	resize: vertical;
}

.textareacontact {
	padding: 12px;
	border: 1px solid #cecece;
	resize: vertical;
	width: 100%;
}

abbr {
	color: #fd0909;
}

.nav1,
.hidden-fa-bars {
	display: none;
}

@media only screen and (max-width: 947px) {
	.hidden-fa-bars {
		display: block;
	}
	.fa-search {
		margin-right: 20px;
	}
}

.space__creation-content {
	padding: 9px 0px;
}

.space__creation-content--text {
	color: #fff;
	margin: 20px 0px 20px 0px;
}

.space__creation-content--text h4 {
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 0.02em;
	padding-bottom: 10px;
}

.space__creation-content--style-bottom {
	text-align: end;
	align-self: center;
	margin-left: 10px;
	padding: 13px 30px;
	color: #000;
	background-color: #fff;
}

.space__creation-content--style-bottom:hover {
	color: #fff;
	background: #5a5656;
}

@media only screen and (max-width: 947px) {
	.space__creation-content {
		flex-direction: column;
		text-align: center;
	}
	.space__creation-content .width50 {
		width: 100%;
	}
	.space__creation-content--style-bottom {
		margin-bottom: 10px;
	}
}

/* News page
--------------------------------------------- */
.is-hover-link-top__information:hover, .informationTop-content--locate-store:hover, .informationTop-content .nav li a:hover {
	color: #ffffff;
}

.is-active-link-top__information:focus, .informationTop-content--locate-store:focus, .informationTop-content .nav li a:focus {
	color: #ffffff;
}

.is-hover-link-footer:hover, .copyright-content a:hover, .description-content .description-content--text a:hover,
.description-content .description-content--social a:hover {
	color: #9d9faa;
}

.is-active-link-footer:focus, .copyright-content a:focus, .description-content .description-content--text a:focus,
.description-content .description-content--social a:focus {
	color: #4d5597;
}

.is-hover-social-icon:hover, .copyright-content span a:hover, .description-content .description-content--text span a:hover,
.description-content .description-content--social span a:hover {
	color: #836924;
}

.is-active-social-icon:focus, .copyright-content span a:focus, .description-content .description-content--text span a:focus,
.description-content .description-content--social span a:focus {
	color: #836924 !important;
}

.is-hover-link-main__navigation:hover, .sidebar-content .main-navigation li a:hover {
	color: #61626b;
}

.is-active-link-main__Navigation:focus, .sidebar-content .main-navigation li a:focus {
	color: #ab892f;
}

.background-information-top,
.background-newsletter {
	background-color: #ab892f;
}

.background-description {
	background-color: #262626;
}

.background-copyright {
	background-color: #fff;
}

.background-space__creation {
	background-color: #262626;
	margin-top: 200px;
}

html {
	height: 100%;
}

body {
	font-family: "Roboto", serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
	margin-block-start: 0;
	margin-block-end: 0;
}

ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.fa-map-marker-alt,
.fa-heart,
.fa-user,
.fa-shopping-cart {
	padding-right: 20px;
}

.button-contact {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button, .space__creation-content--style-bottom, .newsletter-content .mailing--style-bottom {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button-back, .prestige-content .back-button, .entry-content .back-button,
.entry-header .back-button,
.entry-footer .back-button {
	color: #fff;
	text-align: center;
	padding: 6px 30px;
	width: 226.39px;
	font-style: italic;
	background-color: #000;
}

.button-back:hover, .prestige-content .back-button:hover, .entry-content .back-button:hover,
.entry-header .back-button:hover,
.entry-footer .back-button:hover {
	background: #333333;
}

.post-navigation {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 0px;
	text-align: center;
}

label {
	color: black;
	font-weight: bold;
}

.input-contact {
	width: 100%;
	padding: 12px;
	border: 1px solid #cecece;
	resize: vertical;
}

.textareacontact {
	padding: 12px;
	border: 1px solid #cecece;
	resize: vertical;
	width: 100%;
}

abbr {
	color: #fd0909;
}

.nav1,
.hidden-fa-bars {
	display: none;
}

@media only screen and (max-width: 947px) {
	.hidden-fa-bars {
		display: block;
	}
	.fa-search {
		margin-right: 20px;
	}
}

.big-trend-card {
	padding-bottom: 100px;
}

.big-trend-card--title {
	padding-bottom: 30px;
}

.big-trend-card h3 {
	font-size: 30px;
	font-style: italic;
	padding-bottom: 12px;
}

.big-trend-card span {
	color: #000;
}

.big-trend-card--color_text {
	font-size: 14px;
	font-weight: bold;
	color: #f32929;
}

.big-trend--width50 {
	width: 50%;
	align-self: center;
}

.big-trend--flex__grid {
	display: flex;
	flex-direction: column;
}

.big-trend p {
	padding: 10px 0px;
	line-height: 1.4;
}

.big-trend img {
	width: 100%;
	height: auto;
}

@media only screen and (max-width: 947px) {
	.big-trend-card,
	.big-trend {
		display: block;
	}
	.big-trend-card--width50,
	.big-trend--width50 {
		width: 100%;
	}
	.big-trend-card .bloc-page,
	.big-trend .bloc-page {
		width: 100%;
	}
}

.big-trend--bloc-page {
	width: 100%;
	padding-right: 5%;
}

.news {
	padding: 100px 0px;
}

.news--card {
	width: 31%;
	height: auto;
}

.news--card img {
	padding: 8px;
}

.news a {
	padding-left: 8px;
	color: #ab892f;
	text-decoration: underline;
}

.news a:hover {
	color: #836924;
}

.news p {
	text-align: center;
	font-size: 18px;
	padding: 20px 0px 10px 0px;
	letter-spacing: 1;
}

@media only screen and (max-width: 947px) {
	.news {
		padding: 30px 0px;
	}
	.news .flex-grid {
		display: block;
	}
	.news--card {
		width: 100%;
		margin: 30px 0px;
	}
}

.title {
	padding-top: 30px;
}

.title .newspaper-h2 {
	font-size: 48px;
	font-weight: normal;
	font-style: italic;
	letter-spacing: 0.02em;
	line-height: 1.9;
	color: #000;
}

.line__text p {
	line-height: 1.2;
}

/* Contact page
--------------------------------------------- */
.contact-page p {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/* Footer
--------------------------------------------- */
.is-hover-link-top__information:hover, .informationTop-content--locate-store:hover, .informationTop-content .nav li a:hover {
	color: #ffffff;
}

.is-active-link-top__information:focus, .informationTop-content--locate-store:focus, .informationTop-content .nav li a:focus {
	color: #ffffff;
}

.is-hover-link-footer:hover, .copyright-content a:hover, .description-content .description-content--text a:hover,
.description-content .description-content--social a:hover {
	color: #9d9faa;
}

.is-active-link-footer:focus, .copyright-content a:focus, .description-content .description-content--text a:focus,
.description-content .description-content--social a:focus {
	color: #4d5597;
}

.is-hover-social-icon:hover, .copyright-content span a:hover, .description-content .description-content--text span a:hover,
.description-content .description-content--social span a:hover {
	color: #836924;
}

.is-active-social-icon:focus, .copyright-content span a:focus, .description-content .description-content--text span a:focus,
.description-content .description-content--social span a:focus {
	color: #836924 !important;
}

.is-hover-link-main__navigation:hover, .sidebar-content .main-navigation li a:hover {
	color: #61626b;
}

.is-active-link-main__Navigation:focus, .sidebar-content .main-navigation li a:focus {
	color: #ab892f;
}

.background-information-top,
.background-newsletter {
	background-color: #ab892f;
}

.background-description {
	background-color: #262626;
}

.background-copyright {
	background-color: #fff;
}

.background-space__creation {
	background-color: #262626;
	margin-top: 200px;
}

html {
	height: 100%;
}

body {
	font-family: "Roboto", serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
	margin-block-start: 0;
	margin-block-end: 0;
}

ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.fa-map-marker-alt,
.fa-heart,
.fa-user,
.fa-shopping-cart {
	padding-right: 20px;
}

.button-contact {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button, .space__creation-content--style-bottom, .newsletter-content .mailing--style-bottom {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button-back, .prestige-content .back-button, .entry-content .back-button,
.entry-header .back-button,
.entry-footer .back-button {
	color: #fff;
	text-align: center;
	padding: 6px 30px;
	width: 226.39px;
	font-style: italic;
	background-color: #000;
}

.button-back:hover, .prestige-content .back-button:hover, .entry-content .back-button:hover,
.entry-header .back-button:hover,
.entry-footer .back-button:hover {
	background: #333333;
}

.post-navigation {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 0px;
	text-align: center;
}

label {
	color: black;
	font-weight: bold;
}

.input-contact {
	width: 100%;
	padding: 12px;
	border: 1px solid #cecece;
	resize: vertical;
}

.textareacontact {
	padding: 12px;
	border: 1px solid #cecece;
	resize: vertical;
	width: 100%;
}

abbr {
	color: #fd0909;
}

.nav1,
.hidden-fa-bars {
	display: none;
}

@media only screen and (max-width: 947px) {
	.hidden-fa-bars {
		display: block;
	}
	.fa-search {
		margin-right: 20px;
	}
}

.copyright-content .copyright-content--text {
	justify-content: space-between;
	font-size: 13px;
	align-items: center;
	width: 100%;
	padding: 13px 0px 13px 0px;
}

.copyright-content .copyright-content--text .border-line {
	display: none;
}

.copyright-content .copyright-content--payment-card {
	font-size: 30px;
}

.copyright-content a {
	color: #000;
}

.copyright-content a:hover {
	text-decoration: underline;
}

.copyright-content a:focus {
	text-decoration: underline;
}

.copyright-content i:nth-child(2) {
	padding: 0px 15px;
}

@media only screen and (max-width: 947px) {
	.copyright-content .copyright-content--text {
		flex-direction: column;
		text-align: center;
		padding: 25px 0px 25px 0px;
	}
	.copyright-content .copyright-content--text p {
		padding-bottom: 15px;
	}
	.copyright-content .copyright-content--text p:first-child {
		padding-bottom: 0px;
	}
	.copyright-content .copyright-content--text p:nth-of-type(2) {
		padding-top: 7.5px;
	}
	.copyright-content .copyright-content--text .border-line {
		display: block;
		width: 360px;
		border-bottom: 1px solid #000;
		padding-bottom: 7.5px;
	}
}

.is-hover-link-top__information:hover, .informationTop-content--locate-store:hover, .informationTop-content .nav li a:hover {
	color: #ffffff;
}

.is-active-link-top__information:focus, .informationTop-content--locate-store:focus, .informationTop-content .nav li a:focus {
	color: #ffffff;
}

.is-hover-link-footer:hover, .copyright-content a:hover, .description-content .description-content--text a:hover,
.description-content .description-content--social a:hover {
	color: #9d9faa;
}

.is-active-link-footer:focus, .copyright-content a:focus, .description-content .description-content--text a:focus,
.description-content .description-content--social a:focus {
	color: #4d5597;
}

.is-hover-social-icon:hover, .copyright-content span a:hover, .description-content .description-content--text span a:hover,
.description-content .description-content--social span a:hover {
	color: #836924;
}

.is-active-social-icon:focus, .copyright-content span a:focus, .description-content .description-content--text span a:focus,
.description-content .description-content--social span a:focus {
	color: #836924 !important;
}

.is-hover-link-main__navigation:hover, .sidebar-content .main-navigation li a:hover {
	color: #61626b;
}

.is-active-link-main__Navigation:focus, .sidebar-content .main-navigation li a:focus {
	color: #ab892f;
}

.background-information-top,
.background-newsletter {
	background-color: #ab892f;
}

.background-description {
	background-color: #262626;
}

.background-copyright {
	background-color: #fff;
}

.background-space__creation {
	background-color: #262626;
	margin-top: 200px;
}

html {
	height: 100%;
}

body {
	font-family: "Roboto", serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
	margin-block-start: 0;
	margin-block-end: 0;
}

ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.fa-map-marker-alt,
.fa-heart,
.fa-user,
.fa-shopping-cart {
	padding-right: 20px;
}

.button-contact {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button, .space__creation-content--style-bottom, .newsletter-content .mailing--style-bottom {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button-back, .prestige-content .back-button, .entry-content .back-button,
.entry-header .back-button,
.entry-footer .back-button {
	color: #fff;
	text-align: center;
	padding: 6px 30px;
	width: 226.39px;
	font-style: italic;
	background-color: #000;
}

.button-back:hover, .prestige-content .back-button:hover, .entry-content .back-button:hover,
.entry-header .back-button:hover,
.entry-footer .back-button:hover {
	background: #333333;
}

.post-navigation {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 0px;
	text-align: center;
}

label {
	color: black;
	font-weight: bold;
}

.input-contact {
	width: 100%;
	padding: 12px;
	border: 1px solid #cecece;
	resize: vertical;
}

.textareacontact {
	padding: 12px;
	border: 1px solid #cecece;
	resize: vertical;
	width: 100%;
}

abbr {
	color: #fd0909;
}

.nav1,
.hidden-fa-bars {
	display: none;
}

@media only screen and (max-width: 947px) {
	.hidden-fa-bars {
		display: block;
	}
	.fa-search {
		margin-right: 20px;
	}
}

.description-content {
	justify-content: space-around;
}

.description-content .description-content--text,
.description-content .description-content--social {
	color: #fff;
	margin: 40px 0px 40px 0px;
}

.description-content .description-content--text .description__title,
.description-content .description-content--social .description__title {
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 0.02em;
	padding-bottom: 10px;
}

.description-content .description-content--text a,
.description-content .description-content--social a {
	color: #fff;
	line-height: 1.5;
}

.description-content .description-content--text a:hover,
.description-content .description-content--social a:hover {
	text-decoration: underline;
}

.description-content .description-content--text a:focus,
.description-content .description-content--social a:focus {
	text-decoration: underline;
}

.description-content .description-content--text span a,
.description-content .description-content--social span a {
	font-size: 25px;
	letter-spacing: 0.8em;
	padding-top: 8px;
}

@media only screen and (max-width: 947px) {
	.description-content {
		flex-direction: column;
		text-align: center;
	}
	.description-content .description-content--text,
	.description-content .description-content--social {
		margin: 20px 0px 20px 0px;
	}
	.description-content .description-content--text span,
	.description-content .description-content--social span {
		justify-content: center;
	}
	.description-content .description-content--text span a,
	.description-content .description-content--social span a {
		padding: 0px 12px 0px 12px;
		letter-spacing: normal;
	}
}

.is-hover-link-top__information:hover, .informationTop-content--locate-store:hover, .informationTop-content .nav li a:hover {
	color: #ffffff;
}

.is-active-link-top__information:focus, .informationTop-content--locate-store:focus, .informationTop-content .nav li a:focus {
	color: #ffffff;
}

.is-hover-link-footer:hover, .copyright-content a:hover, .description-content .description-content--text a:hover,
.description-content .description-content--social a:hover {
	color: #9d9faa;
}

.is-active-link-footer:focus, .copyright-content a:focus, .description-content .description-content--text a:focus,
.description-content .description-content--social a:focus {
	color: #4d5597;
}

.is-hover-social-icon:hover, .copyright-content span a:hover, .description-content .description-content--text span a:hover,
.description-content .description-content--social span a:hover {
	color: #836924;
}

.is-active-social-icon:focus, .copyright-content span a:focus, .description-content .description-content--text span a:focus,
.description-content .description-content--social span a:focus {
	color: #836924 !important;
}

.is-hover-link-main__navigation:hover, .sidebar-content .main-navigation li a:hover {
	color: #61626b;
}

.is-active-link-main__Navigation:focus, .sidebar-content .main-navigation li a:focus {
	color: #ab892f;
}

.background-information-top,
.background-newsletter {
	background-color: #ab892f;
}

.background-description {
	background-color: #262626;
}

.background-copyright {
	background-color: #fff;
}

.background-space__creation {
	background-color: #262626;
	margin-top: 200px;
}

html {
	height: 100%;
}

body {
	font-family: "Roboto", serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
	margin-block-start: 0;
	margin-block-end: 0;
}

ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.fa-map-marker-alt,
.fa-heart,
.fa-user,
.fa-shopping-cart {
	padding-right: 20px;
}

.button-contact {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button, .space__creation-content--style-bottom, .newsletter-content .mailing--style-bottom {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button-back, .prestige-content .back-button, .entry-content .back-button,
.entry-header .back-button,
.entry-footer .back-button {
	color: #fff;
	text-align: center;
	padding: 6px 30px;
	width: 226.39px;
	font-style: italic;
	background-color: #000;
}

.button-back:hover, .prestige-content .back-button:hover, .entry-content .back-button:hover,
.entry-header .back-button:hover,
.entry-footer .back-button:hover {
	background: #333333;
}

.post-navigation {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 0px;
	text-align: center;
}

label {
	color: black;
	font-weight: bold;
}

.input-contact {
	width: 100%;
	padding: 12px;
	border: 1px solid #cecece;
	resize: vertical;
}

.textareacontact {
	padding: 12px;
	border: 1px solid #cecece;
	resize: vertical;
	width: 100%;
}

abbr {
	color: #fd0909;
}

.nav1,
.hidden-fa-bars {
	display: none;
}

@media only screen and (max-width: 947px) {
	.hidden-fa-bars {
		display: block;
	}
	.fa-search {
		margin-right: 20px;
	}
}

.newsletter-content .newsletter-content--text {
	color: #fff;
	margin: 20px 0px 20px 0px;
}

.newsletter-content .newsletter-content--text h4 {
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 0.02em;
	padding-bottom: 10px;
}

.newsletter-content .mailing {
	text-align: end;
	align-self: center;
}

.newsletter-content .mailing--input_wrap {
	display: inline-block;
	width: 320px;
	padding: 0 10px;
	background: #fff;
}

.newsletter-content .mailing--input_wrap input {
	width: 100%;
	padding: 13px 0 13px;
	border: none;
}

.newsletter-content .mailing--style-bottom {
	color: #fff;
	margin-left: 10px;
	padding: 13px 30px;
	background-color: #000;
}

.newsletter-content .mailing--style-bottom:hover {
	background: #333333;
}

@media only screen and (max-width: 947px) {
	.newsletter-content {
		flex-direction: column;
		text-align: center;
	}
	.newsletter-content .width50 {
		width: 100%;
	}
	.newsletter-content .newsletter-content--text {
		margin: 20px 0px 20px 0px;
		text-align: center;
	}
	.newsletter-content .mailing {
		text-align: center;
		margin-bottom: 15px;
	}
	.newsletter-content .mailing--input_wrap {
		width: 247px;
	}
	.newsletter-content .mailing--style-bottom {
		margin: 5px 0px 0px 15px;
	}
}

@media only screen and (max-width: 1132px) {
	.newsletter-content {
		flex-direction: column;
		text-align: center;
	}
	.newsletter-content .width50 {
		width: 100%;
		text-align: center;
	}
	.newsletter-content .mailing {
		margin-bottom: 15px;
	}
}

/* Post-type
--------------------------------------------- */
.is-hover-link-top__information:hover, .informationTop-content--locate-store:hover, .informationTop-content .nav li a:hover {
	color: #ffffff;
}

.is-active-link-top__information:focus, .informationTop-content--locate-store:focus, .informationTop-content .nav li a:focus {
	color: #ffffff;
}

.is-hover-link-footer:hover, .copyright-content a:hover, .description-content .description-content--text a:hover,
.description-content .description-content--social a:hover {
	color: #9d9faa;
}

.is-active-link-footer:focus, .copyright-content a:focus, .description-content .description-content--text a:focus,
.description-content .description-content--social a:focus {
	color: #4d5597;
}

.is-hover-social-icon:hover, .copyright-content span a:hover, .description-content .description-content--text span a:hover,
.description-content .description-content--social span a:hover {
	color: #836924;
}

.is-active-social-icon:focus, .copyright-content span a:focus, .description-content .description-content--text span a:focus,
.description-content .description-content--social span a:focus {
	color: #836924 !important;
}

.is-hover-link-main__navigation:hover, .sidebar-content .main-navigation li a:hover {
	color: #61626b;
}

.is-active-link-main__Navigation:focus, .sidebar-content .main-navigation li a:focus {
	color: #ab892f;
}

.background-information-top,
.background-newsletter {
	background-color: #ab892f;
}

.background-description {
	background-color: #262626;
}

.background-copyright {
	background-color: #fff;
}

.background-space__creation {
	background-color: #262626;
	margin-top: 200px;
}

html {
	height: 100%;
}

body {
	font-family: "Roboto", serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
	margin-block-start: 0;
	margin-block-end: 0;
}

ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.fa-map-marker-alt,
.fa-heart,
.fa-user,
.fa-shopping-cart {
	padding-right: 20px;
}

.button-contact {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button, .space__creation-content--style-bottom, .newsletter-content .mailing--style-bottom {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button-back, .prestige-content .back-button, .entry-content .back-button,
.entry-header .back-button,
.entry-footer .back-button {
	color: #fff;
	text-align: center;
	padding: 6px 30px;
	width: 226.39px;
	font-style: italic;
	background-color: #000;
}

.button-back:hover, .prestige-content .back-button:hover, .entry-content .back-button:hover,
.entry-header .back-button:hover,
.entry-footer .back-button:hover {
	background: #333333;
}

.post-navigation {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 0px;
	text-align: center;
}

label {
	color: black;
	font-weight: bold;
}

.input-contact {
	width: 100%;
	padding: 12px;
	border: 1px solid #cecece;
	resize: vertical;
}

.textareacontact {
	padding: 12px;
	border: 1px solid #cecece;
	resize: vertical;
	width: 100%;
}

abbr {
	color: #fd0909;
}

.nav1,
.hidden-fa-bars {
	display: none;
}

@media only screen and (max-width: 947px) {
	.hidden-fa-bars {
		display: block;
	}
	.fa-search {
		margin-right: 20px;
	}
}

.prestige-content--post__type__description {
	padding: 10px 0px;
}

.prestige-content .color__title {
	color: #000;
}

.prestige-content p {
	padding: 25px 0px;
}

.padding__post {
	padding: 50px 0px;
}

.is-hover-link-top__information:hover, .informationTop-content--locate-store:hover, .informationTop-content .nav li a:hover {
	color: #ffffff;
}

.is-active-link-top__information:focus, .informationTop-content--locate-store:focus, .informationTop-content .nav li a:focus {
	color: #ffffff;
}

.is-hover-link-footer:hover, .copyright-content a:hover, .description-content .description-content--text a:hover,
.description-content .description-content--social a:hover {
	color: #9d9faa;
}

.is-active-link-footer:focus, .copyright-content a:focus, .description-content .description-content--text a:focus,
.description-content .description-content--social a:focus {
	color: #4d5597;
}

.is-hover-social-icon:hover, .copyright-content span a:hover, .description-content .description-content--text span a:hover,
.description-content .description-content--social span a:hover {
	color: #836924;
}

.is-active-social-icon:focus, .copyright-content span a:focus, .description-content .description-content--text span a:focus,
.description-content .description-content--social span a:focus {
	color: #836924 !important;
}

.is-hover-link-main__navigation:hover, .sidebar-content .main-navigation li a:hover {
	color: #61626b;
}

.is-active-link-main__Navigation:focus, .sidebar-content .main-navigation li a:focus {
	color: #ab892f;
}

.background-information-top,
.background-newsletter {
	background-color: #ab892f;
}

.background-description {
	background-color: #262626;
}

.background-copyright {
	background-color: #fff;
}

.background-space__creation {
	background-color: #262626;
	margin-top: 200px;
}

html {
	height: 100%;
}

body {
	font-family: "Roboto", serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
	margin-block-start: 0;
	margin-block-end: 0;
}

ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.fa-map-marker-alt,
.fa-heart,
.fa-user,
.fa-shopping-cart {
	padding-right: 20px;
}

.button-contact {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button, .space__creation-content--style-bottom, .newsletter-content .mailing--style-bottom {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button-back, .prestige-content .back-button, .entry-content .back-button,
.entry-header .back-button,
.entry-footer .back-button {
	color: #fff;
	text-align: center;
	padding: 6px 30px;
	width: 226.39px;
	font-style: italic;
	background-color: #000;
}

.button-back:hover, .prestige-content .back-button:hover, .entry-content .back-button:hover,
.entry-header .back-button:hover,
.entry-footer .back-button:hover {
	background: #333333;
}

.post-navigation {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 0px;
	text-align: center;
}

label {
	color: black;
	font-weight: bold;
}

.input-contact {
	width: 100%;
	padding: 12px;
	border: 1px solid #cecece;
	resize: vertical;
}

.textareacontact {
	padding: 12px;
	border: 1px solid #cecece;
	resize: vertical;
	width: 100%;
}

abbr {
	color: #fd0909;
}

.nav1,
.hidden-fa-bars {
	display: none;
}

@media only screen and (max-width: 947px) {
	.hidden-fa-bars {
		display: block;
	}
	.fa-search {
		margin-right: 20px;
	}
}

.entry-content,
.entry-header,
.entry-footer {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.entry-content h1,
.entry-header h1,
.entry-footer h1 {
	padding-top: 50px;
}

.entry-content p,
.entry-header p,
.entry-footer p {
	padding: 25px 0px;
}

.entry-content .padding__post,
.entry-header .padding__post,
.entry-footer .padding__post {
	padding: 50px 0px;
}

/* Post-type
--------------------------------------------- */
/*                    Menu burger
=========================================================*/
@media only screen and (max-width: 947px) {
	.site-container {
		overflow: hidden;
	}
	.site-container .site-pusher {
		transition-duration: 0.3s;
		transform: translateX(0px);
	}
	/******* Icone menu burger *********/
	.menu_burger {
		align-self: center;
	}
	.menu_burger .header__icon {
		position: relative;
		display: block;
		float: left;
		width: 18px;
		height: 34px;
		cursor: pointer;
	}
	.menu_burger .header__icon:after {
		content: "";
		position: absolute;
		display: block;
		width: 1rem;
		height: 0;
		box-shadow: 0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px black;
	}
	/******* fenetre sur le coté *********/
	.menu-header-navigation-main-navigation-container {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1;
		padding: 0px 0;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		background-color: #181616;
		width: 250px;
		transform: translateX(250px);
	}
	.menu-header-navigation-main-navigation-container ul {
		width: 100%;
		margin: 0px;
		padding: 0px;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.menu-header-navigation-main-navigation-container .main-navigation li:nth-child(1),
	.menu-header-navigation-main-navigation-container .main-navigation li:nth-child(2),
	.menu-header-navigation-main-navigation-container .main-navigation li:nth-child(3),
	.menu-header-navigation-main-navigation-container .main-navigation li:nth-child(4) {
		padding: 10px 0px;
		border-bottom: 2px solid #2c2c2c;
	}
	.menu-header-navigation-main-navigation-container .main-navigation li:nth-child(5) {
		padding: 10px 0px;
	}
	.menu-header-navigation-main-navigation-container a {
		height: 40px;
		text-align: center;
		line-height: 40px;
		color: #fff;
	}
	.with--sidebar .site-pusher {
		transform: translateX(-250px);
	}
	.with--sidebar .site-cache {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.6);
	}
}

/*# sourceMappingURL=style.css.map */