@import "../base";

.entry-content,
.entry-header,
.entry-footer {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    h1 {
        padding-top: 50px;
    }
    .back-button {
        @extend .button-back;
    }

    p {
        padding: 25px 0px;
    }

    .padding__post {
        padding: 50px 0px;
    }
}
