@import url(http://fonts.googleapis.com/css?family=Roboto);
.is-hover-link-top__information:hover {
	color: #ffffff;
}

.is-active-link-top__information:focus {
	color: #ffffff;
}

.is-hover-link-footer:hover {
	color: #9d9faa;
}

.is-active-link-footer:focus {
	color: #4d5597;
}

.is-hover-social-icon:hover {
	color: #836924;
}

.is-active-social-icon:focus {
	color: #836924 !important;
}

.is-hover-link-main__navigation:hover {
	color: #61626b;
}

.is-active-link-main__Navigation:focus {
	color: #ab892f;
}

.background-information-top,
.background-newsletter {
	background-color: #ab892f;
}

.background-description {
	background-color: #262626;
}

.background-copyright {
	background-color: #fff;
}

.background-space__creation {
	background-color: #262626;
	margin-top: 200px;
}

html {
	height: 100%;
}

body {
	font-family: "Roboto", serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
	margin-block-start: 0;
	margin-block-end: 0;
}

ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.fa-map-marker-alt,
.fa-heart,
.fa-user,
.fa-shopping-cart {
	padding-right: 20px;
}

.button-contact {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button-back, .entry-content .back-button,
.entry-header .back-button,
.entry-footer .back-button {
	color: #fff;
	text-align: center;
	padding: 6px 30px;
	width: 226.39px;
	font-style: italic;
	background-color: #000;
}

.button-back:hover, .entry-content .back-button:hover,
.entry-header .back-button:hover,
.entry-footer .back-button:hover {
	background: #333333;
}

.post-navigation {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 0px;
	text-align: center;
}

label {
	color: black;
	font-weight: bold;
}

.input-contact {
	width: 100%;
	padding: 12px;
	border: 1px solid #cecece;
	resize: vertical;
}

.textareacontact {
	padding: 12px;
	border: 1px solid #cecece;
	resize: vertical;
	width: 100%;
}

abbr {
	color: #fd0909;
}

.nav1,
.hidden-fa-bars {
	display: none;
}

@media only screen and (max-width: 947px) {
	.hidden-fa-bars {
		display: block;
	}
	.fa-search {
		margin-right: 20px;
	}
}

.entry-content,
.entry-header,
.entry-footer {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.entry-content h1,
.entry-header h1,
.entry-footer h1 {
	padding-top: 50px;
}

.entry-content p,
.entry-header p,
.entry-footer p {
	padding: 25px 0px;
}

.entry-content .padding__post,
.entry-header .padding__post,
.entry-footer .padding__post {
	padding: 50px 0px;
}

/*# sourceMappingURL=posts-and-pages.css.map */