@import "../../base";

.copyright-content {
    .copyright-content--text {
        justify-content: space-between;
        font-size: 13px;
        align-items: center;
        width: 100%;
        padding: 13px 0px 13px 0px;
        .border-line {
            display: none;
        }
    }
    .copyright-content--payment-card {
        font-size: 30px;
    }

    a {
        color: $black;
        &:hover {
            @extend .is-hover-link-footer;
            text-decoration: underline;
        }
        &:focus {
            @extend .is-active-link-footer;
            text-decoration: underline;
        }
    }
    span a {
        &:hover {
            @extend .is-hover-social-icon;
        }
        &:focus {
            @extend .is-active-social-icon;
        }
    }
    i:nth-child(2) {
        padding: 0px 15px;
    }
}

@media #{$medium-down} {
    .copyright-content {
        .copyright-content--text {
            flex-direction: column;
            text-align: center;
            padding: 25px 0px 25px 0px;

            p {
                padding-bottom: 15px;
            }
            p:first-child {
                padding-bottom: 0px;
            }
            p:nth-of-type(2) {
                padding-top: 7.5px;
            }
            .border-line {
                display: block;
                width: 360px;
                border-bottom: 1px solid $black;
                padding-bottom: 7.5px;
            }
        }
    }
}
