@import "../../base";

.description-content {
    justify-content: space-around;
    .description-content--text,
    .description-content--social {
        color: $white;
        margin: 40px 0px 40px 0px;

        .description__title {
            color: $white;
            font-size: $h4;
            font-weight: bold;
            letter-spacing: 0.02em;
            padding-bottom: 10px;
        }

        a {
            color: $white;
            line-height: 1.5;
            &:hover {
                @extend .is-hover-link-footer;
                text-decoration: underline;
            }
            &:focus {
                @extend .is-active-link-footer;
                text-decoration: underline;
            }
        }

        span a {
            font-size: 25px;
            letter-spacing: 0.8em;
            padding-top: 8px;
            &:hover {
                @extend .is-hover-social-icon;
            }
            &:focus {
                @extend .is-active-social-icon;
            }
        }
    }
}

@media #{$medium-down} {
    .description-content {
        flex-direction: column;
        text-align: center;
        .description-content--text,
        .description-content--social {
            margin: 20px 0px 20px 0px;
            span {
                justify-content: center;
            }
            span a {
                padding: 0px 12px 0px 12px;
                letter-spacing: normal;
            }
        }
    }
}
