@import "../../base";

.newsletter-content {
    .newsletter-content--text {
        color: $white;
        margin: 20px 0px 20px 0px;

        h4 {
            font-size: $h4;
            font-weight: bold;
            letter-spacing: 0.02em;
            padding-bottom: 10px;
        }
    }

    .mailing {
        text-align: end;
        align-self: center;
        &--input_wrap {
            display: inline-block;
            width: 320px;
            padding: 0 10px;
            background: #fff;
        }
        &--input_wrap input {
            width: 100%;
            padding: 13px 0 13px;
            border: none;
        }
        &--style-bottom {
            @extend .button;
            color: $white;
            margin-left: 10px;
            padding: 13px 30px;
            background-color: $black;
        }
        &--style-bottom:hover {
            background: $hover-button;
        }
    }
}

@media #{$medium-down} {
    .newsletter-content {
        flex-direction: column;
        text-align: center;

        .width50 {
            width: 100%;
        }
        .newsletter-content--text {
            margin: 20px 0px 20px 0px;
            text-align: center;
        }
        .mailing {
            text-align: center;
            margin-bottom: 15px;
        }
        .mailing--input_wrap {
            width: 247px;
        }
        .mailing--style-bottom {
            margin: 5px 0px 0px 15px;
        }
    }
}

@media #{$large-down} {
    .newsletter-content {
        flex-direction: column;
        text-align: center;

        .width50 {
            width: 100%;
            text-align: center;
        }
        .mailing {
            margin-bottom: 15px;
        }
    }
}
