.products-content {
    padding-bottom: 200px;

    &--card {
        box-shadow: 0px 3px 15px 0px #8d8c88;
        width: 24%;
        border: 1px solid rgb(155, 154, 154);
        height: auto;
        img {
            padding: 8px;
        }
    }
    &--text {
        text-align: center;
        h4 {
            font-size: 18px;
            font-weight: bold;
            padding: 20px 0px 10px 0px;
            text-transform: uppercase;
            letter-spacing: 1;
        }
        p {
            padding-bottom: 40px;
        }
    }
}
@media #{$medium-down} {
    .products-content {
        .flex-grid {
            display: block;
        }
        &--card {
            width: 100%;
            margin: 30px 0px;
        }
    }
}
