.selected-content {
    h3 {
        text-align: center;
        font-style: italic;
        font-size: $h3;
        color: $black;
        font-weight: 400;
        letter-spacing: 0.02em;
        padding: 130px 0px 20px 0px;
    }
    &--border__line2 {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 60px;
        border-bottom: 1px solid $black;
        margin-bottom: 80px;
    }
}
