@import "../../base";

.space__creation-content {
    padding: 9px 0px;
    &--text {
        color: $white;
        margin: 20px 0px 20px 0px;

        h4 {
            font-size: $h4;
            font-weight: bold;
            letter-spacing: 0.02em;
            padding-bottom: 10px;
        }
    }

    &--style-bottom {
        text-align: end;
        align-self: center;

        @extend .button;
        margin-left: 10px;
        padding: 13px 30px;
        color: $black;
        background-color: $white;
    }
    &--style-bottom:hover {
        color: $white;
        background: $hover-button03;
    }
}
@media #{$medium-down} {
    .space__creation-content {
        flex-direction: column;
        text-align: center;

        .width50 {
            width: 100%;
        }
        &--style-bottom {
            margin-bottom: 10px;
        }
    }
}
