/*                    Menu burger
=========================================================*/
@import "../variables/variable";

@media #{$medium-down} {
    .site-container {
        overflow: hidden;

        .site-pusher {
            transition-duration: 0.3s;
            transform: translateX(0px);
        }
    }

    /******* Icone menu burger *********/

    .menu_burger {
        align-self: center;

        .header__icon {
            position: relative;
            display: block;
            float: left;
            width: 18px;
            height: 34px;
            cursor: pointer;
        }

        .header__icon:after {
            content: "";
            position: absolute;
            display: block;
            width: 1rem;
            height: 0;
            box-shadow: 0 10px 0 1px rgb(0, 0, 0), 0 16px 0 1px rgb(0, 0, 0), 0 22px 0 1px rgb(0, 0, 0);
        }
    }

    /******* fenetre sur le coté *********/

    .menu-header-navigation-main-navigation-container {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        padding: 0px 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        background-color: rgb(24, 22, 22);
        width: 250px;
        transform: translateX(250px);
        ul {
            width: 100%;
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .main-navigation li:nth-child(1),
        .main-navigation li:nth-child(2),
        .main-navigation li:nth-child(3),
        .main-navigation li:nth-child(4) {
            padding: 10px 0px;
            border-bottom: 2px solid rgb(44, 44, 44);
        }
        .main-navigation li:nth-child(5) {
            padding: 10px 0px;
        }
        a {
            height: 40px;
            text-align: center;
            line-height: 40px;
            color: #fff;
        }
    }

    .with--sidebar .site-pusher {
        transform: translateX(-250px);
    }

    .with--sidebar .site-cache {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }
}
