.sidebar-content {
    height: 140px;
    font-weight: bold;
    align-items: center;

    &--logo {
        width: 190px;
        height: auto;
        align-self: center;
    }

    span {
        align-self: center;
        .fa-search {
            font-size: $menu;
            cursor: pointer;
            transform: rotate(90deg);
        }
    }
    /***************************
    ** Premier niveau menu
    ***************************/
    .main-navigation {
        align-self: center;
        letter-spacing: 0.02em;
        display: flex;
        position: relative;

        li {
            padding-right: 35px;
            a {
                font-size: 18px;
                color: $black;
                cursor: pointer;
                &:hover {
                    @extend .is-hover-link-main__navigation;
                }
                &:focus {
                    @extend .is-active-link-main__Navigation;
                }
            }
        }
        /***************************
        ** Deuxieme niveau sub-menu
        ***************************/
        .menu-item:nth-child(3) > a::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f107";
            display: inline-block;
            margin-left: 0.4em;
            vertical-align: middle;
            color: #000;
            text-align: center;
        }
        .menu-item:nth-child(3) ul {
            display: none;
            position: absolute;
            width: 100%;
            padding-top: 6px;
        }
        .menu-item:nth-child(3):hover > ul {
            display: block;
        }
        .menu-item:nth-child(3):hover > ul > li {
            list-style: none;
        }
        .menu-item:nth-child(3) > ul > li > a {
            font-size: 14px;
            border-top: 1px solid #000;
            padding-top: 2px;
        }
        .menu-item:nth-child(3) > ul > li > a:hover {
            background: #fff;
            color: #31353d;
        }
    }

    @media #{$medium-down} {
        .sidebar-content {
            height: 100px;
            &--logo {
                width: 150px;
            }
        }
        .main-navigation {
            align-self: center;
            letter-spacing: 0.02em;
            display: flex;
            position: relative;

            li {
                padding-right: 0px;
                a {
                    color: $white;
                }
            }
            /***************************
***            ** Deuxieme niveau sub-menu
            ***************************/
            .menu-item:nth-child(3):hover > ul {
                display: none;
            }

            .menu-item:nth-child(3) > a::after {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f107";
                display: inline-block;
                font-size: 15px;
                margin-left: 0.4em;
                vertical-align: middle;
                color: $white;
                text-align: center;
            }
        }
        .nav1 {
            display: block;
            font-weight: bold;
            align-self: center;
            display: flex;

            li {
                padding-right: 15px;
                a {
                    color: $black;
                    cursor: pointer;
                }
            }
            li:nth-child(4) {
                padding-right: 20px;
            }
        }
    }
}
