.informationTop-content {
    height: 61.45px;

    &--locate-store {
        align-self: center;
        font-weight: bold;
        cursor: pointer;
        color: $black;
        letter-spacing: 0.02em;
        &:hover {
            @extend .is-hover-link-top__information;
            font-weight: normal;
        }
        &:focus {
            @extend .is-active-link-top__information;
            font-weight: normal;
        }
    }

    &--text {
        color: $white;
        align-self: center;
        font-weight: 400;
        letter-spacing: 0.02em;
    }

    .nav {
        font-weight: bold;
        align-self: center;
        display: flex;

        li {
            a {
                color: $black;
                cursor: pointer;
                &:hover {
                    @extend .is-hover-link-top__information;
                }
                &:focus {
                    @extend .is-active-link-top__information;
                }
            }
        }

        li:first-child {
            padding-right: 15px;
        }
        li:nth-child(2) {
            padding-right: 15px;
        }
        li:nth-child(3) {
            padding-right: 15px;
        }
    }
}

@media #{$medium-down} {
    .informationTop-content {
        justify-content: center;
        height: 38px;
        .nav,
        .informationTop-content--locate-store {
            display: none;
        }
        &--text {
            text-align: center;
        }
    }
}
